<%- include('header') %>
<div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>
<div class="box">
  <% newListItems.forEach((items)=>{ %>
    <form class="" action="/" method="post">
      <div class="item">
        <input type="checkbox">
        <p> <%=items.name%></p>
      </div>
    </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="toDo" placeholder="New List" autocomplete="off">
    <button type="submit" name="submit" value=<%=listTitle%>>+</button>
  </form>
</div>
<%- include('footer') %>
